:root {
    --clr-black: #202020;
    --clr-white: #e6e6e6;
    --clr-grey: #afafaf;
    --coffee-colour: #e6e6e6;
    --pink-colour: #ffcfef;
    --clr-green: #00c600;
}

@font-face {
    font-family: "mainCustom";
    src: url("media/lumire/Lumierepolis-Yqvn8.ttf") format("truetype");
}

@font-face {
    font-family: "Custom2";
    src: url("media/cramaten-font/Cramaten-9YKGZ.ttf") format("truetype");
}

@font-face {
    font-family: "Custom3";
    src: url("media/SunnySpellsBasicRegular-Yz1Wv.ttf") format("truetype");
}

@font-face {
    font-family: "Webbed";
    src: url("media/SupremeSpike-KVO8D.otf") format("opentype");
}

@media screen and (max-width: 500px) {  
    .hero{
        display: flex;
        justify-content: center;
    }
    .stages{
        margin: 0px;
        width: 100%;
    }
    tr, td, th {
        letter-spacing: normal;
        font-size: 17px;
    }
    table {
        width: 100%;
        
    }
    #our-work{
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    .templates-container{
        width: 90vw;
        padding: 10px;
        margin: 10px;
    }
    .mockup{
        width: 70vw;
    }

    
}



body {
    font-family: "mainCustom", Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: var(--coffee-colour);
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    height: 100%;

  /* Dark mode colors and gradient */
  background: #121212; /* Fallback for browsers that don't support gradients */
  background: linear-gradient(
    135deg,
    #121212 25%,
    #1a1a1a 25%,
    #1a1a1a 50%,
    #121212 50%,
    #121212 75%,
    #1a1a1a 75%,
    #1a1a1a
  );
  background-size: 40px 40px;

  /* Animation */
  animation: move 4s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}


.bg-img{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    opacity: 0.6;
    object-fit: cover;
    overflow-x: hidden;
    margin: 0px;
}

.hero {
    height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px; 

}

.hero h1 {
    color: white;
    padding: 0px;
    margin: 0px;
    font-size: 32px;
}

/* From Uiverse.io by satyamchaudharydev */ 
/* === removing default button style ===*/
.button-webbed {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  
  /* button styling */
  .button-webbed {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: #37FF8B;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  /* hover */
  .button-webbed:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }


#view {
    font-size: 17px;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: #ffedd3;
    text-transform: uppercase;
    position: relative;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    cursor: pointer;
  }
  
  #view::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #ffc506;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  
  #view:hover {
    color: #1e1e2b;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
  }
  
  #view:hover::before {
    width: 100%;
  }
  
  #view::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #ffc506;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    z-index: -1;
  }
  
  #view:hover::after {
    height: 100%;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
    color: aliceblue;
  }
  

.info {
    display: flex;
    justify-content: center;
}

.details {
    margin: 20px;
    padding: 30px;
    height: auto;
    width: 50%;
    border-color: transparent;
    background-color: var(--clr-black);
    border-width: 10px;
    border-style: solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#our-work{
    padding: 30px;
    
}

.templates-container{
    width: 33vw;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.mockup{
    width:33vw;
    height: 33vh;
    border-radius: 20px;
    border-style: solid;
    border-width: 0;
}

.open-iframe{
    background-color: var(--clr-white);
    border-style: solid;
    border-radius: 15px;
    border-color: transparent;
    transition: all 0.2s;
    font-family: "mainCustom", Arial;

}

.open-iframe:hover{
    border-color: var(--clr-white);
    color: var(--clr-white);
    background-color:transparent;
    transform: scale(1.1);
}

.stages{
    display: flex;
    font-family: 'Custom3';
    letter-spacing: 3px;
    font-size: 22px;
    flex-direction: column;
    align-items: center;
    
}

table {
    width: 50%;
    height: 20px;
    border-collapse: separate;
    border-spacing: 0;
    margin: 20px;
    border: 2px solid;
    border-radius: 15px;
    background-color: var(--mid-blue);
    
}



tr, td, th {
    
    text-align: center;
    border: 2px solid;
    height: 50px;
    width: 20%;
    font-family: 'Custom3', Arial, Helvetica, sans-serif;
}

th:first-child {
    border-top-left-radius: 12px;
}
th:last-child {
    border-top-right-radius: 12px;
}
tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
}
tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}


.yes{
    color: var(--clr-green);
}

.no{
    color: red;
}

#email-button {
    padding: 20px;
    margin: 10px;
    border-style: solid;
    border-color: transparent;
    background-color: var(--mid-blue);
    border-radius: 20px;
    font-family: "mainCustom";
    font-size: 17px;
    color: var(--clr-black);
    background-color: var(--clr-white);
    transition: all 0.2s ease;
}    
       
#email-button:hover{
    color: var(--clr-white);
    transform: scale(1.1);
    background-color: transparent;
    border-color: var(--clr-white);
}





