:root {
    --clr-black: #202020;
    --clr-white: #e6e6e6;
    --clr-grey: #afafaf;
    --coffee-colour: #e6e6e6;
    --pink-colour: #ffcfef;
    --clr-green: #00c600;
}

@font-face {
    font-family: "mainCustom";
    src: url("media/lumire/Lumierepolis-Yqvn8.ttf") format("truetype");
}

@font-face {
    font-family: "Custom2";
    src: url("media/cramaten-font/Cramaten-9YKGZ.ttf") format("truetype");
}

@font-face {
    font-family: "Custom3";
    src: url("media/SunnySpellsBasicRegular-Yz1Wv.ttf") format("truetype");
}

@font-face {
    font-family: "Webbed";
    src: url("media/SupremeSpike-KVO8D.otf") format("opentype");
}

@media screen and (max-width: 873px) {  
    .hero{
        display: flex;
        justify-content: center;
    }
    .stages{
        margin: 10px;
    }
    
    table {
        width: 500px;
        transform: scale(0.85);
    }
    tr, td, th {
        font-size: 17px;
    }
}

body {
    font-family: "mainCustom", Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: var(--coffee-colour);
    background-color: var(--clr-black);
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.bg-img{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    opacity: 0.6;
    object-fit: cover;
    overflow-x: hidden;
    margin: 0px;
}

.hero {
    height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px; 

}

.hero h1 {
    color: white;
    padding: 0px;
    margin: 0px;
    font-size: 32px;
}

#webbed{
    font-size: 52px;
    font-family: 'Webbed';
    background-image: url('media/rainbowGradient.png');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 100%;
    color: transparent;
}

#view {
    font-family: "mainCustom", Arial;
    width: 150px;
    height: 70px;
    border-color: transparent;
    border-style: solid;
    border-radius: 30px;
    color: var(--clr-black);
    background-color: var(--clr-white);
    font-size: 21px;
    transition: border-color 0.2s ease, background-color 0.2s ease, color 0.2s ease, transform 0.2s ease ;
}

#view:hover{
    transform: scale(1.1);
    color: var(--clr-white);
    background-color: transparent;
    border-color: var(--clr-white);

}

.info {
    display: flex;
    justify-content: center;
}

.details {
    margin: 20px;
    padding: 30px;
    height: auto;
    width: 50%;
    border-color: transparent;
    background-color: var(--clr-black);
    border-width: 10px;
    border-style: solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.stages{
    display: flex;
    font-family: 'Custom3';
    letter-spacing: 3px;
    font-size: 22px;
    flex-direction: column;
    align-items: center;
    
}

table {
    width: 50%;
    height: 20px;
    border-collapse: separate;
    border-spacing: 0;
    margin: 20px;
    border: 2px solid;
    border-radius: 15px;
    background-color: var(--mid-blue);
    
}



tr, td, th {
    
    text-align: center;
    border: 2px solid;
    height: 50px;
    width: 20%;
    font-family: 'Custom3', Arial, Helvetica, sans-serif;
}

th:first-child {
    border-top-left-radius: 12px;
}
th:last-child {
    border-top-right-radius: 12px;
}
tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
}
tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}


.yes{
    color: var(--clr-green);
}

.no{
    color: red;
}

.footer {
    width: 100%;
    text-align: center;
    bottom: 0;
    margin-bottom: 20px;
    padding: 0px;
}

#email-button {
    padding: 20px;
    margin: 10px;
    border-style: solid;
    border-color: transparent;
    background-color: var(--mid-blue);
    border-radius: 20px;
    font-family: "mainCustom";
    font-size: 17px;
    color: var(--clr-black);
    background-color: var(--clr-white);
    transition: all 0.2s ease;
}    
       
#email-button:hover{
    color: var(--clr-white);
    transform: scale(1.1);
    background-color: transparent;
    border-color: var(--clr-white);
}





